.movieFilterDrawer__container {
    width: 100%;
}
.movieFilterDrawer__drawer {
    width: 100%;
}
.movieFilterDrawer__form {
    margin: 0;
    flex-direction: column !important;
    gap: 20px;
    width: 100%;
}
.movieFilterDrawer__button {
    text-transform: capitalize !important;
    height: 56px;
}
.movieFilterDrawer__content {
    min-width: 500px;
    height: 100%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.movieFilterDrawer__title {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    font-size: x-large;
    box-shadow: 0 8px 15px rgba(155, 163, 180, 0.1);
}
.movieFilterDrawer__actions {
    height: 80px;
    box-shadow: 12px 8px 15px 10px rgba(155, 163, 180, 0.1);
    position: relative;
}
.movieFilterDrawer__content_action {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.movieFilterDrawer__content_action button {
    min-width: 150px !important;
}