.login__root {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 48, 68, 0.8);
}
.login__title {
    display: flex;
    gap: 20px;
    font-size: small;
    align-items: center;
}
.login__mainBox {
   height: 330px;
   width: 400px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   border-radius: 12px;
}
.login__formTitle {
    font-size: medium;
    font-weight: bold;
}
.login__form {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.login__button {
    min-height: 60px !important;
}